<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
  <!--  Do NOT write header attributes here; if write....then, the attributes would be duplicated with layout template... -->
  <title>Add Item</title>
</head>

<th:block layout:fragment="local_javascript">
  <script th:inline="javascript">
  </script>
</th:block>

<th:block layout:fragment="local_css">
  <style>
  </style>
</th:block>

<div layout:fragment="content">
  Add Item....
</div>

</html>