<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
  <!--  Do NOT write header attributes here; if write....then, the attributes would be duplicated with layout template... -->
  <title>Login</title>
</head>

<th:block layout:fragment="local_javascript">
  <script th:inline="javascript">
  </script>
</th:block>

<th:block layout:fragment="local_css">
  <style>
  </style>
</th:block>

<div layout:fragment="content">
  <div>
    <form action="/members/login" role="form" method="post">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 border border-light-subtle px-5 pt-5">
          <div class="fs-4 fw-bold mb-2 text-uppercase">Member Login</div>
          <p class="mb-4">Welcome to E-Shop</p>
          <div class="input-group has-validation">
            <div class="form-floating mt-3">
              <input type="email" class="form-control" name="email" id="inputEmail" placeholder="doejohn@example.com">
              <label for="inputEmail">Email</label>
            </div>
          </div>
          <div class="input-group has-validation">
            <div class="form-floating mt-3">
              <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Password">
              <label for="inputPassword">Password</label>
            </div>
          </div>
          <div data-th-if="${loginErrorMsg}" data-th-text="${loginErrorMsg}"
               class="invalid-feedback d-block text-center mt-4 fw-bold">
            Err Msg
          </div>
          <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}"/>
          <div class="d-grid mt-4">
            <button class="btn btn-outline-secondary" type="submit">Login</button>
          </div>
          <div class="text-center mt-4">
            <p>Not Yet Registered?
              <a data-th-href="@{/members/new}" style="text-decoration: none;" class="text-primary fw-bold">Member
                Registration</a>
            </p>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</html>